{% extends 'search/base.html' %}

{% block meta %}
    <title>Intelli Search</title>
{% endblock meta %}

{% block content %}
{% if flag == 0 %} 
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 text-center">
            <span style="color: blue; font-size: 70px;">Intelli</span>
            <span style="color: black; font-size: 70px;">Search</span>
            <form method="GET" action="{% url 'search:index' %}" class="d-flex mt-4">
                <div class="col-8 me-2">
                    <input name="search-bar" id="search-bar" class="form-control rounded-pill me-2" type="search" placeholder="Search" aria-label="Search" value="{{ query|default_if_none:'' }}">
                </div>
                <div class="col-2 me-2">
                    <select name="num_results" class="form-select rounded-pill me-2">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30" selected>30</option> <!-- Changed default to 30 -->
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <button class="btn btn-outline-primary rounded-pill" > <!-- Changed to 'primary' for blue color -->
                    <i class="fa fa-search" style="font-size:24px; color: blue;"></i> <!-- Changed icon color to blue -->
                </button>
            </form>
        </div>
    </div>
</div>
{% elif flag == 1 %} 
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 text-center">
            <span style="color: blue; font-size: 70px;">Intelli</span>
            <span style="color: black; font-size: 70px;">Search</span>
            <form method="GET" action="{% url 'search:index' %}" class="d-flex mt-4">
                <div class="col-8 me-2">
                    <input name="search-bar" id="search-bar" class="form-control rounded-pill me-2" type="search" placeholder="Search" aria-label="Search" value="{{ query|default_if_none:'' }}">
                </div>
                <div class="col-2 me-2">
                    <select name="num_results" class="form-select rounded-pill me-2">
                        <option value="5" {% if num_results == 5 %}selected{% endif %}>5</option>
                        <option value="10" {% if num_results == 10 %}selected{% endif %}>10</option>
                        <option value="20" {% if num_results == 20 %}selected{% endif %}>20</option>
                        <option value="30" {% if num_results == 30 %}selected{% endif %}>30</option>
                        <option value="50" {% if num_results == 50 %}selected{% endif %}>50</option>
                        <option value="100" {% if num_results == 100 %}selected{% endif %}>100</option>
                    </select>
                </div>
                <button class="btn btn-outline-primary rounded-pill" > <!-- Changed to 'primary' for blue color -->
                    <i class="fa fa-search" style="font-size:24px; color: blue;"></i> <!-- Changed icon color to blue -->
                </button>
            </form>
            <p class="text-danger mt-3"><br>Sorry, there is no result :(</p>
        </div>
    </div>
</div>
{% else %} 
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 255, 255, 0.7); z-index: 1000;">
    <div class="container mt-4">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="{% url 'search:index' %}">
            <span style="color: blue; font-size: 40px;">Intelli</span>
            <span style="color: black; font-size: 40px;">Search</span>
        </a>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <form class="form-inline" style="width: 600px;" method="GET" action="{% url 'search:index' %}">
                <div class="input-group">
                    <div class="col-8 me-2">
                        <input name="search-bar" id="search-bar" class="form-control rounded-pill me-2" type="search" placeholder="Search" aria-label="Search" value="{{ query|default_if_none:'' }}">
                    </div>
                    <div class="col-2 me-2">
                        <select name="num_results" class="form-select rounded-pill me-2">
                            <option value="5" {% if num_results == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if num_results == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if num_results == 20 %}selected{% endif %}>20</option>
                            <option value="30" {% if num_results == 30 %}selected{% endif %}>30</option>
                            <option value="50" {% if num_results == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if num_results == 100 %}selected{% endif %}>100</option>
                        </select>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary rounded-pill" type="submit"> <!-- Changed to 'primary' for blue color -->
                            <i class="fa fa-search" style="font-size:24px; color: blue;"></i> <!-- Changed icon color to blue -->
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- List of search results -->
<div class="container" style="margin-top: 130px;">
    <div class="text-right text-muted" style="margin-left: 100px;">
        About {{ sumDocs }} result{% if sumDocs != 1 %}s{% endif %} ({{ totalTime }} seconds)
    </div>
    <br>
    {% for doc, content in result.items %}
    <a href="{% url 'search:isi' doc %}?num_results={{ num_results }}" style="text-decoration: none;">
        <div class="card rounded shadow mx-auto" style="width: 1000px;">
            <div class="card-body">
                <h3 style="color: blue;">{{ doc }}</h3>
                <p>{{ content|truncatechars:300 }}</p>
            </div>
        </div>
    </a>
    <br>
    {% endfor %}

</div>

{% endif %} 
{% endblock content %}
